body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('carbon.png') no-repeat center center fixed;
    background-size: contain;
    background-position: top;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
    max-width: 90%;
    width: 600px;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    color: black;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    color:black;
}

p.quote {
    font-style: italic;
    color:black;
    margin-bottom: 20px;
    font-size: 20px;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #45a049;
}

#result, #tips {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}

canvas {
    margin-top: 20px;
    width: 100% !important;
}